@charset "utf-8";
body {
    position: relative;
    font-family: 'Futura pt','Avenir','Helvetica Neue','Helvetica','Arial',"游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif,'ヒラギノ角ゴシック','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'
}
header{
  max-width: 1080px;
  margin: 0 auto;
  padding: 100px 20px;
  position: relative;
}
.title{
  display: flex;
    
}
.title img{
  width: 58.62px;
}
h1{
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding-top: 50px;
}

/* ------ハンバーガーメニュー------ */
/*ハンバーガーボタン*/
.hamburger {
  display : block;
  position: fixed;
  z-index : 9999;
  right : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #555;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  background :#fff;
  /* -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg); */
  transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  background :#fff;
  /* -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg); */
  transform        : rotate(45deg);
}
nav.globalMenuSp {
  position: fixed;
  z-index : 2;
  top  : 0;
  right : 0;
  color: #fff;
  background: rgba(0,0,0,0.7);
  text-align: center;
  width: 300px;
  height: 330px;
  opacity: 0;
  transition: opacity .6s ease, visibility .6s ease;
  visibility: hidden;/* 隠してリンクを押せないようにする */
}

nav.globalMenuSp ul {
  width: 100%;
  margin-top: 65px;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  /* padding: 1rem 0; */
  width: 100%;
  transition: .4s all;
  margin-left: auto;
  margin-right: auto;
}

nav.globalMenuSp ul li:hover{
  background :#ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #fff;
  letter-spacing: 0.1em;
  padding: 1rem 0;/* 上下の余白部分もクリック領域にする */
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  opacity: 100;
  visibility: visible;/* 隠していたのを表示させる */

}


.image-wrap{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  padding: 0 20px;
  max-width: 1080px;
  margin: 0 auto;
  z-index: 100;
}

/* ------モーダル-------*/
.open{
  cursor: pointer;
}
.open :hover{
  opacity: 0.8;
}
/* クリックすると表示される部分 */
.container{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  top: 0;
  /* left: 0; */
  z-index: 2;
}

.main{
  position: relative;
  text-align: center;
  width: 500px;
  margin: 0 auto;
  background: #fff;
  z-index: 3;
  margin-top: 100px;
}
.content{
  padding: 100px 25px;
}
.image{
  width: 300px;
  margin: 0 auto;
}
.content-text{
  margin: 80px auto;
  /* width: 500px; */
}
.text{
  display: flex;
  border-bottom: 1px solid #333;
  /* width: 350px; */
  margin: 0 auto;
  
}
.text:last-child{
  border-bottom: none;
}
.text1{
  text-align-last: justify;
  width: 72px;
}
.text p{
  line-height: 1.8;
  font-size: 18px;
  padding: 10px 0 10px;
 
}
/* 用途とデザインの間 */
.text p:last-child{
  padding-left: 75px;
}
.close{
  width: 100px;
  border: 1px solid #333;
  text-align: center;
  cursor: pointer;
  padding: 10px 0;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.3s;
}
.close:hover{
  background-color: #555;
  color: #fff;
}
 

/* フッター */
/* お問い合せボタン  */
footer{
  max-width: 1080px;
  margin: 0 auto;
  padding: 100px 0 80px;
}
.btn-2{
  text-align: center;
}
.btn-2 a{
  background: #99c67e;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 42.5px;
  color: #fff;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  font-size: 20px;
  box-shadow: 5px 5px 0 #83c1a6;
  border-radius: 50px;
}
.btn-2 a:hover {
  background-color: #83c1a6;
  box-shadow: 0 0 0;
  transform: translate(5px, 5px);
}
.btn-2 a:after {
  position: absolute;
  top: 50%;
  right: 20px;
  transition: 0.2s ease-in-out;
  transform: translateY(-50%);
}

.btn-2 img{
  width: 102.2px;
}
.contact-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wrap{
  display: flex;
  justify-content: space-between;
  padding: 115px 10px 0;
}

/* フッターナブボタン */

.footer-title a{
  display: flex;
  align-items: center;
  color:#938159;
  font-size: 20px;
  letter-spacing: 0.1em;
  font-weight: 600;
  padding:10px 30px;
  /* position: relative; */
}

/* 三角矢印 */
.footer-title span{
  width: 8px;
  height: 8px;
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
  transform: rotate(45deg);
  border-color: #938159;
  display: flex;
  margin-left: 10px;
}
.footer-title a::after {
  content: '';
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 10%;
  /*線の形*/
  width: 80%;
  height: 1px;
  background:#938159;
  /*アニメーションの指定*/
  transition: all .3s;
  transform: scale(0, 1);/*X方向0、Y方向1*/
  transform-origin: center top;/*上部中央基点*/
}
.footer-title a:hover::after {
  transform: scale(1, 1);/*X方向にスケール拡大*/
}

/* ___________________________________ */

.footer-nav {
  display: flex;
  flex-wrap: wrap;/*スマホ表示折り返し用*/
}
.footer-nav li a{
  display: flex;
  align-items: center;
  padding:10px 30px;
  text-decoration: none;
  color: #333;
  position: relative;
  font-size: 20px;
  letter-spacing: 0.1em;
  font-weight: 600;
}

.footer-nav span{
  width: 8px;
  height: 8px;
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
  transform: rotate(45deg);
  border-color: #333;
  display: flex;
  margin-left: 10px;
}

.footer-nav li{
  margin-bottom:20px;
  margin-left: 10px;
}
.footer-nav li a::after {
  content: '';
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 10%;
  /*線の形*/
  width: 80%;
  height: 1px;
  background:#333;
  /*アニメーションの指定*/
  transition: all .3s;
  transform: scale(0, 1);/*X方向0、Y方向1*/
  transform-origin: center top;/*上部中央基点*/
}
.footer-nav li a:hover::after {
  transform: scale(1, 1);/*X方向にスケール拡大*/
}
.footer-title-sp{
  display: none;
}


@media screen and (max-width:800px){
  main{
    max-width: 800px;
    margin: 0 auto;
    position: relative;
  }
    header{
      padding: 30px 20px 0;
  }
    .title{
      display: block;
      padding: 60px 0 20px;
  }
  .title img{
    width: 34.6px;
    position: absolute;
    left: 20%;
    top: 45%;
  }
    h1{
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.1em;
      padding-top: 0;
      padding-left: 0;
      text-align: center;
      position: relative;
  }
  h1::before{
    position: absolute;
    bottom: -20px;
    left: calc(50% - 15px);
    width: 26px;
    height: 1px;
    content: '';
    background: #333;
  }
  .image-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 50px 20px;
  }

  /* お問い合わせボタン */
  .btn-2 a{
      background: #99c67e;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 23.45px; /* ボタンの大きさ */
      color: #fff;
      transition: 0.3s ease-in-out;
      font-weight: 600;
      font-size: 16px;
      box-shadow: 5px 5px 0 #83c1a6;
      border-radius: 50px;
  }
 .btn-2 img{
    width: 64.13px;
  }
  footer{
      padding: 100px 0 20px;
  }
  .footer-wrap{
      display: block;
      padding: 30px 10px 0;
      text-align: center;
  }
  .footer-nav li a{
      display: flex;
      align-items: center;
      padding: 10px 30px;
      text-decoration: none;
      color: #333;
      position: relative;
      font-size: 16px;
      letter-spacing: 0.1em;
      font-weight: 500;
  }
  /* 三角矢印 */
  .footer-nav span{
      width: 8px;
      height: 8px;
      border-top: 2px solid #333333;
      border-right: 2px solid #333333;
      transform: rotate(45deg);
      border-color: #333;
      display: flex;
  }
  .footer-nav {
      display: flex;
      justify-content: space-evenly;

  }
  .footer-title{
      display: none;
  }
  .footer-title-sp{
      display: block;
      color: #938159;
      font-size: 13px;
      padding-top: 30px;
  }
}
@media screen and (max-width:500px){
  .image-wrap{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;
    padding: 50px 20px;
  }
  .container{
    /* position: absolute; */
    position: fixed;
    overflow: scroll;
    height: 100%;
    z-index: 100;
  }
  .overlay{
    height: 100%;
    z-index: 0;
  }
  .main{
    max-width: 80%;
    margin-top: 60px;
  }
  .content{
      padding: 25px 25px;
  }
  .image{
    width: 80%;
  }
  .content-text{
    /* width: 285px; */
    margin: 40px auto;
  }
  .text p{
    line-height: 1.8;
    font-size: 16px;
    padding: 7px 0 7px;
  }
  /* 用途とデザインの間 */
  .text p:last-child{
    padding-left: 60px;
  }
  .text1{
    width: 65px;
  }
  /* スマホ版ハンバーガーメニュー */
  nav.globalMenuSp {
    /* 画面いっぱい */
    width: 100%;
    height: 100vh;
  }
  nav.globalMenuSp ul {
    margin-top: 272px; /* リストを中央に（デバイスの高さーリストの高さ/２） */
  }
  nav.globalMenuSp ul li a {
    font-size: 28px;
  }
 

}

