@charset "utf-8";

body {
  position: relative;
  font-family: 'futura-pt','noto-sans-cjk-jp','heisei-kaku-gothic-std','yu-gothic-pr6n','sans-serif';
}
    
header{
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
  padding-top: 180px;
}
h1{
  font-size: 30px;
  letter-spacing: 0.1em;
  font-weight: 600;
}
h2 {
  position: relative;
  padding-bottom: 1.5rem;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.1em;
  font-weight: 600;
}
  
h2:before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 50px;
  height: 1px;
  content: '';
  background: #333;
}
.header-text{
  font-size: 18px;
  padding-top: 50px;
}
/* ハンバーガーメニュー */
/*ハンバーガーボタン*/
.hamburger {
  display : block;
  position: fixed;
  z-index : 9999;
  right : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.hamburger span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px ;
    left    : 6px;
    background : #555;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
    top: 10px;
}
.hamburger span:nth-child(2) {
    top: 20px;
}
.hamburger span:nth-child(3) {
    top: 30px;
}
  
/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
    top : 16px;
    left: 6px;
    background :#fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
}
  
.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
    top: 16px;
    background :#fff;
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
}
nav.globalMenuSp {
    position: fixed;
    z-index : 2;
    top  : 0;
    right : 0;
    color: #fff;
    background: rgba(0,0,0,0.7);
    text-align: center;
    width: 300px;
    height: 330px;
    opacity: 0;
    transition: opacity .6s ease, visibility .6s ease;
    visibility: hidden;
}
  
nav.globalMenuSp ul {
    width: 100%;
    margin-top: 65px;
}
  
nav.globalMenuSp ul li {
    list-style-type: none;
    /* padding: 1rem 0; */
    width: 100%;
    transition: .4s all;
    margin-left: auto;
    margin-right: auto;
}
  
nav.globalMenuSp ul li:hover{
    background :#ddd;
}
  
nav.globalMenuSp ul li a {
    display: block;
    color: #fff;
    letter-spacing: 0.1em;
    padding: 1rem 0;/* 上下の余白部分もクリック領域にする */
}
  
/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  opacity: 100;
  visibility: visible;
}


.leaf1{
    width: 346.6px;
    /* width: 25.3%; */
    position: absolute;
    top: 10%;
    left: 0;
}
.br-sp{
    display: none;
}

/* ボタン */

.contact-btn img{
    width: 17.8px;
    padding-right: 10px;
}
.contact-btn a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 183px;
    padding: 10px 10px;
    color: #fff;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #58412a;
    filter: drop-shadow(0px 2px 4px #ccc);
    border-radius: 3px;
    font-size: 14px;
    letter-spacing: 0.1em;
}
.contact-btn a:hover {
    transform: translateY(-2px);
    box-shadow: 0 13px 25px -5px rgb(88 65 42 0.4), 0 0 5px rgb(88 65 42 0.4);
}
.contact-btn{
    padding-top: 50px;
}

/* お問い合せフォーム */
form{
    max-width: 1080px;
    margin: 0 auto;
}
.form-container{
    width: 81.48%;
    margin: 0 auto;
    background-color: rgba(169, 142, 110, 0.6);
    margin-top: 60px;
    padding: 60px 0;
}
.form-btn{
    max-width: 570px; /* 入力欄の幅 */
    margin: 0 auto;
}
.item{
    margin-bottom: 40px;
    /* text-align: left; */
}
.label{
    font-size: 18px;
    letter-spacing: 0.1em;
    font-weight: 600;
}
/* 名前などの入力欄 */
.inputs{
    width: 570px;
    height: 60px;
    border: none;
    font-size: 150%;/* 入力する文字の大きさ */
}
.inputs-2{
    width: 570px;
    height: 260px;
    border: none;
    font-size: 150%;
}
.btn-area{
    text-align: center;
    margin: 70px 0;
}

input[type="submit"] {
  appearance: none;/* inputタグに対するOSによって異なる標準的スタイルのリセット */
  -webkit-appearance: none;
}
.btn-area input{
  padding: 17px 108.7px;
  border: 1px solid #333;
  font-size: 20px;
  letter-spacing: 0.1em;
  background: #fff;
  font-weight: 600;
  transition: 0.3s;
}
  
input[type="submit"]:hover {
  background: #58412a;
  cursor: pointer;
  color: #fff;
}

@media screen and (max-width:1100px){
  .leaf1{
    width: 31.5%;
    position: absolute;
    top: 10%;
    left: 0;
  }
  .form-container{
    width: 80%;
  }
}
@media screen and (max-width:800px){
  .leaf1{
    display: none;
  }
  header{
    padding-top: 80px;
  }
  .br-sp{
    display: block;
  }

  /* お問い合せフォーム */
  .form-container{
    width: 100%;
    background-color: rgba(169, 142, 110, 0.6);
    margin-top: 60px;
  }
  .form-btn{
    max-width: 320px; /* 入力欄の幅 */
  } 
  .label{
    font-size: 16px;
  }
   
  .inputs{
    width: 320px;
    height: 38px;
  }
  .inputs-2{
    width: 320px;
    height: 220px;
  }
  .btn-area input{
    padding: 15px 52.45px;
    border: 1px solid #333;
    border-radius: 50px;
    font-size: 18px;
    letter-spacing: 0.1em;
    background: #58412a;
    font-weight: 600;
    color: #fff;
  }
  
}

@media screen and (max-width:500px){
  /* スマホ版ハンバーガーメニュー */
nav.globalMenuSp {
  /* 画面いっぱい */
  width: 100%;
  height: 100vh;
}
nav.globalMenuSp ul {
  margin-top: 272px; /* リストを中央に（デバイスの高さーリストの高さ/２） */
}
nav.globalMenuSp ul li a {
  font-size: 28px;
}
}

  